body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.screen {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.result{
     text-align: right;
     font-size: 1em;
     padding: 10px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: yellow;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    background-color: #d0d0d0;
}
